
    body {
        margin: 0;
        padding: 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
       
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .box {
        
        flex-basis: 30%;
        padding: 6rem;
        border: 1px solid black;
        text-align: center;
    }
  



    .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0; /* Remove margin from the container */
      }
      
      .box {
        flex-basis: 30%;
        padding: 6rem;
        border: 1px solid black;
        text-align: center;
        margin: 0; /* Remove top and bottom margin from the box */
      }
      
    .box h2 {
        margin-top: 0;
    }



    
      


















    